<html>
    <head>
        <title>Jeff's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Jeff's Blog</a></h1>
        </div>

        <div>
            <p>published: 11 November 2020, 22:57 EDT</p>
            <h2><a href="">My first post</a></h2>
            <p>This is the first post to my new blog site.  Hopefully, many more will be posted here.</p>
        </div>

        <div>
            <p>published: 11 November 2020, 23:00 EDT</p>
            <h2><a href="">My second post</a></h2>
            <p>This is my second post to my new blog site.  Hopefulyl, not the last!</p>
        </div>
    </body>
</html>